In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])

In [3]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
dictionary = {'Moscow': 1000, 'London': 300}

In [6]:
cities = pd.Series(dictionary)

In [7]:
cities

Moscow    1000
London     300
dtype: int64

In [8]:
cities['Moscow']

1000

In [9]:
cities[['Moscow', 'London']]

Moscow    1000
London     300
dtype: int64

In [11]:
cities < 1000

Moscow    False
London     True
dtype: bool

In [12]:
cities[cities < 1000]

London    300
dtype: int64

In [13]:
cities['Moscow'] = 100

In [14]:
cities

Moscow    100
London    300
dtype: int64

In [15]:
cities[cities < 1000] = 3

In [16]:
cities

Moscow    3
London    3
dtype: int64

In [17]:
cities * 3

Moscow    9
London    9
dtype: int64

In [24]:
cities['Barselona'] = None

In [25]:
cities[cities.isnull()]

Barselona   NaN
dtype: float64