In [2]:
import pandas as pd

In [27]:
bike_data_file = pd.read_csv('201809-citibike-tripdata.csv')

In [5]:
type(bike_data_file)

pandas.core.frame.DataFrame

In [14]:
bike_data_file.shape

(1877884, 15)

In [17]:
bike_data_file.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1

In [24]:
bike_data_file['tripduration'].mean() / 60

16.125248648656324

In [30]:
bike_data_file[bike_data_file['start station id'] == bike_data_file['end station id']].shape

(41364, 15)

In [137]:
bike_data_file.groupby(['bikeid'])[['tripduration']].mean().idxmax()

tripduration    17548
dtype: int64

In [85]:
bike_data_file[bike_data_file['start station id'].isnull()].count()

tripduration               716
starttime                  716
stoptime                   716
start station id             0
start station name           0
start station latitude     716
start station longitude    716
end station id               0
end station name             0
end station latitude       716
end station longitude      716
bikeid                     716
usertype                   716
birth year                 716
gender                     716
dtype: int64

In [97]:
bike_data_file.groupby(['usertype'])[['tripduration']].mean() / 60

            tripduration
usertype
Customer       33.415379
Subscriber     13.332348

In [104]:
bike_data_file.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1

In [190]:
from geopy.distance import vincenty

def calculate_distance(row):
    coords_1 = (row['start station latitude'], row['start station longitude'])
    coords_2 = (row['end station latitude'], row['end station longitude'])
    return vincenty(coords_1, coords_2).km

In [195]:
needfull_data = bike_data_file[bike_data_file['start station id'] != bike_data_file['end station id']]
mean_distance = needfull_data.apply(calculate_distance, axis=1).mean()
mean_distance

/home/yan/python_course/week_1/playground/env/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

1.8495860826008172

In [141]:
bike_data_file.groupby(['bikeid'])['bikeid'].size().idxmax()

33875

In [198]:
import datetime

def get_hour_from_datetime(row):
    return datetime.datetime.strptime(row['starttime'], '%Y-%m-%d %H:%M:%S.%f').hour

In [199]:
needfull_data.apply(get_hour_from_datetime_str, axis=1)

TypeError: ('strptime() argument 1 must be str, not Series', 'occurred at index 0')

In [172]:
#stations where departure is between 18 to 20
hours_frame = bike_data_file[['starttime']]


#hours_frame.apply(lambda x: get_hour_from_datetime_str(x[0]))

                        starttime
0        2018-09-01 00:00:05.2690
1        2018-09-01 00:00:11.2810
2        2018-09-01 00:00:20.6490
3        2018-09-01 00:00:21.7460
4        2018-09-01 00:00:27.3150
5        2018-09-01 00:00:29.3030
6        2018-09-01 00:00:27.2780
7        2018-09-01 00:00:31.4250
8        2018-09-01 00:00:30.9660
9        2018-09-01 00:00:42.1670
10       2018-09-01 00:00:45.2480
11       2018-09-01 00:00:45.7840
12       2018-09-01 00:01:12.1920
13       2018-09-01 00:01:16.2250
14       2018-09-01 00:01:19.1080
15       2018-09-01 00:01:20.0300
16       2018-09-01 00:01:29.1710
17       2018-09-01 00:01:32.9170
18       2018-09-01 00:01:46.8690
19       2018-09-01 00:02:03.7960
20       2018-09-01 00:02:07.5200
21       2018-09-01 00:02:19.7770
22       2018-09-01 00:02:22.8150
23       2018-09-01 00:02:21.3210
24       2018-09-01 00:02:30.1860
25       2018-09-01 00:02:34.1100
26       2018-09-01 00:02:40.5310
27       2018-09-01 00:02:40.1510
28       2018-09-01 00:02:42.7440
29       2018-09-01 00:02:45.5570
...                           ...
1877854  2018-09-30 23:57:40.8410
1877855  2018-09-30 23:57:43.9930
1877856  2018-09-30 23:57:50.5420
1877857  2018-09-30 23:58:15.5890
1877858  2018-09-30 23:58:23.5640
1877859  2018-09-30 23:58:29.7150
1877860  2018-09-30 23:58:30.7450
1877861  2018-09-30 23:58:34.7820
1877862  2018-09-30 23:58:37.6470
1877863  2018-09-30 23:58:40.0860
1877864  2018-09-30 23:59:02.1730
1877865  2018-09-30 23:59:05.9420
1877866  2018-09-30 23:59:11.3740
1877867  2018-09-30 23:59:13.2830
1877868  2018-09-30 23:59:15.5250
1877869  2018-09-30 23:59:28.4510
1877870  2018-09-30 23:59:33.5240
1877871  2018-09-30 23:59:38.9630
1877872  2018-09-30 23:59:44.1330
1877873  2018-09-30 23:59:46.8790
1877874  2018-09-30 23:59:53.9750
1877875  2018-09-30 23:59:56.4460
1877876  2018-09-29 10:51:16.3010
1877877  2018-09-29 19:19:13.8790
1877878  2018-09-29 19:29:49.6230
1877879  2018-09-30 00:27:25.9840
1877880  2018-09-30 00:30:30.1850
1877881  2018-09-30 08:10:03.1790
1877882  2018-09-30 12:20:13.6830
1877883  2018-09-30 14:10:01.1620

[1877884 rows x 1 columns]